/*
 * @Author: wyatt 
 * @Date: 2018-07-17 22:15:14 
 * @Last Modified by: wyatt
 * @Last Modified time: 2018-07-17 22:25:30
 */

.btn-send-goods{
    margin-left: 10px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}